@using System.Web.Script.Serialization
@model List<GunlukCiro>
@{
    ViewBag.Title = "Index";

    decimal[] cirolar = Model.Select(x => x.Ciro).ToArray();
    string[] gunler = Model.Select(x => x.Gun.Value.ToString("dd.MM")).ToArray();



    JavaScriptSerializer ser = new JavaScriptSerializer();

    string cirolarJson = ser.Serialize(cirolar);
    string gunlerJson = ser.Serialize(gunler);


}

<h2 class="text-lg-center"> Admin Yönetim Paneli</h2>

<h3>Günlük satış  Miktarları(Ciro)</h3>
<table class="table">
    <thead>
        <tr>
            <th>Tarih</th>
            <th>Satış(₺)</th>
            <th>Sipariş Adedi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Gun</td>
                <td>@item.Ciro</td>
                <td>@item.SiparisAdet</td>
            </tr>
        }
    </tbody>
</table>



<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Günlük Satış Raporu</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>



@section scripts{

    <script src="~/Areas/Admin/vendor/chart.js/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: @Html.Raw(gunlerJson),
                datasets: [{
                    label: 'Günlük Ciro',
                    data:  @Html.Raw(cirolarJson),
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
}